.footer-box {
  background-color: #222 !important;
  color: white;
  padding: 30px 0;
  margin-top: auto;
  text-align: center;
  border-top: 4px solid #d32f2f;
}

.footer-text {
  color: #bbb;
  max-width: 600px;
  margin: 10px auto !important;
}