.form-container {
  margin-top: 50px;
  text-align: center;
}
.form-paper {
  padding: 60px 30px 30px 30px;
  margin-top: -50px;
  border-radius: 15px !important;
}
.pay-button {
  height: 50px;
  background-color: #2d1ff5 !important;
  font-weight: bold !important;
}